* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    display: flex;
    justify-content: center;
    width: 100vw;
    /* height: 100vh; */
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    background-color: var(--backgroundGeneral);
    /* Variaveis */
    --backgroundGeneral: #EDF7FF;
    --blue: #008DE9;
    --blueDark: #03396C;
    --white: #ffffff;
    --placeholderColor: #D3D3D3;
    --boxShadowGeneral: 0px 5px 4px -3px rgba(0, 28, 55, 0.25);
    --errorColor: #fd3838;
}

p {
    font-size: 1.2rem;
}

p.message_error {
    color: var(--white);
}

h2 {
    font-size: 2.8rem;
}

input,
textarea {
    font-family: 'Poppins', sans-serif;
    resize: vertical;
}

button.button,
input.button {
    background-color: var(--blueDark);
    padding: 1.2rem 6.2rem;
    box-shadow: var(--boxShadowGeneral);
    border: none;
    font-size: clamp(1.2rem, 1.6rem, 1.6rem);
    font-weight: 600;
    color: var(--white);
    border-radius: .8rem;
    text-transform: uppercase;
    cursor: pointer;
}

button.button:hover,
input.button:hover {
    filter: brightness(1.4);
}

input.input,
textarea.input {
    border: none;
    border-radius: .8rem;
    background-color: var(--white);
    width: 100%;
    padding: 1.4rem 1.6rem;
    margin: .8rem 0;
    outline: none;
    font-size: 1.4rem;
}

input.input::placeholder,
textarea.input::placeholder {
    color: var(--placeholderColor);
}

input.input:focus {
    transition: .25s ease-in-out;
    background-color: var(--blueDark);
    color: var(--white);
}


/* Card para campos errados */

div.message_input_empty {
    position: absolute;
    top: 15rem;
    align-self: center;
    background-color: var(--errorColor);
    color: var(--white);
    padding: 1rem 2rem;
    border-radius: .8rem;
    box-shadow: var(--boxShadowGeneral);
    display: none;
}

input.input_empty {
    border: 2px solid var(--errorColor);
}